<div class="table-responsive">
  <h1 class="text-center">Tallas</h1>
      <table class="table table-striped">
        <tr>
          <th class="active">Id</th>
          <th class="active">Nombre</th>
        </tr>
            <% @tallas.each do |talla| %>
            <tr>
            <td><%= link_to talla.id , talla%></td>
            <td><%= link_to talla.nombre, talla %></td>
            </tr>
        <%end%>
      </table>
</div>
<%= link_to "Crear talla", new_talla_path(@talla) , class:"btn btn-success btn-lg" %>
