<div class="container">
  <% breadcrumb :talla_new %>
  <h1 class="text-center">Crear Tallas</h1>
  <%= render "form" %>  <%= link_to "Atras", articulos_path(@articulo) , class:"btn btn-danger" %>
</div>
