<% breadcrumb :talla_show, @talla %>
<div class="container">
  <h1 class="text-center"><%= @talla.nombre %></h1>
   <div class="row">
      <table class="table table-striped">
        <tr>
          <th class="active">NOMBRE</th>
          <th class="active">EDITAR</th>
        </tr>
          <tr>
            <td class="active"><%= @talla.nombre %></td>
            <td><%= link_to "Editar", edit_talla_path(@talla) , class:"btn btn-warning"%> </td>
          </tr>
       </table>
    </div>
</div>
