<% breadcrumb :especialidades %>
<div class="table-responsive">
  <h1 class="text-center">Especialidades</h1>
  <%= form_tag(especialidades_path, class:"form-inline" , method: :get) do %>
    <div class="form-group">
      <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
      <span class="form-group">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  <%end%><br>
    <div class="col-md-6">
      <table class="table table-striped table-bordered">
        <tr>
          <th class="bg-light">ID</th>
          <th class="bg-light">NOMBRE</th>
        </tr>
        <% @especialidades.each do |especialidad| %>
          <tr>
            <td><%= link_to especialidad.id , especialidad%></td>
            <td><%= especialidad.nombre%></td>
          </tr>
        <%end%>
        <% unless @especialidades.present? %>
          <tr>
            <h2 class="text-center">No Hay Informacion Solicitada</h2>
          </tr>
        <%end%>
      </table>
    </div>
    <div class="col-md-6">
    </div>
</div>
