<div class="container">
  <% breadcrumb :especialidad_new %>
  <h1 class="text-center">Crear Especialidad</h1>
  <%= render "form" %>  <%= link_to "Atras", especialidades_path(@especialidad) , class:"btn btn-danger" %>
</div>
