<div class="row">
  <% breadcrumb :especialidad_show, @especialidad %>
  <h1 class="text-center"><%= @especialidad.nombre %></h1>
  <div class="col-md-3">
        <div class="form-group text-center be-red white">
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
            <%= @especialidad.nombre %>
          </div>
        </div>
        <%= link_to "Editar", edit_especialidad_path(@especialidad) , class:"btn btn-outline-danger btn-lg btn-block"%>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
  </div>
</div>
