<div class="col-md-4">
    <h1 class="text-center"><%= @especialidad.nombre %></h1><br>
        <div class="form-group text-center be-red white">
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>
            </div>
            <%= @especialidad.nombre %>
            <%= link_to "Editar", edit_especialidad_path(@especialidad) , class:"btn btn-outline-danger btn-lg btn-block"%><br><br>
      </div>
</div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
