<header style="width:100%;">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Articulos", articulos_path(@articulo), class:"nav-link active" %>
  </li>
  <li class="nav-item">
        <%= link_to "Iniciar Sesion", user_session_path(@user), class:"nav-link active" %>
  </li>
  <li class="nav-item">
        <%= link_to "Registrar", new_user_registration_path(@user), class:"nav-link active" %>
  </li>
</ul>
</header>
<h1 class="text-center">Uniformate</h1>
