<h1 class="text-center">HOME</h1>

<ul>
  <li>
    <%= link_to('Registrarse', new_user_registration_path) %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to('Iniciar Sesion', new_user_session_path) %>
  </li>
</ul>

<ul>
  <li>
    <%= link_to('Articulos', articulos_path) %>
  </li>
</ul>
