



    <div class="row justify-content-md-center">

      <div class="col-md-3">

        <%= simple_form_for @categoria, url: categorias_path do |f| %>


          <div class="form-group">

            <%= f.input :nombre, input_html: { placeholder:"Nombre", class:"form-control"}%>

          </div>

          <div class="form-group text-center">
              <%= f.submit "Guardar Cambios", class:"btn btn-outline-primary btn-lg btn-block" %>
          </div>

          <% end %>

      </div>

    </div>
