<div class="row">

  <div class="col-md-4">

  </div>

  <div class="col-md-4">

    <%= simple_form_for @categoria, url: categorias_path do |f| %>
      <%= f.input :nombre %>
        <%= f.input :categoria, class: "form-control"%>
      <div class="form-group">
          <%= f.submit "Guardar Cambios", class:"btn btn-outline-primary btn-lg btn-block" %>
      </div>
    <% end %>

  </div>

  <div class="col-md-4">

  </div>

</div>
