<div class="container">
  <div class="row">
    <div class="col-md-11">
          <h1 class="text-center">Editar Categoria: "<%=@categoria.nombre%>"</h1><br><br>
    </div>
  </div>

  <%= render "form" %>
</div><br>
<%= link_to "<--Atras", categoria_path , class:"btn btn-danger" %> <br> <br>
