<div class="container">
  <h1 class="text-center">Editar <%=@categorias.nombre %></h1><br><br>
  <%= render "form" %>
</div>
<%= link_to "Atras", categoria_path(@categorias) , class:"btn btn-danger" %>
