<div class="container">
  <% breadcrumb :categoria_edit, @categoria %>
  <div class="row">
    <div class="col-md-11">
      <h1 class="text-center">Editar Categoria: "<%=@categoria.nombre%>"</h1><br><br>
    </div>
    <%= render "form" %>
  </div>
</div>
