<div class="container">
  <% breadcrumb :categoria_edit, @categoria %>
  <h1 class="text-center">Editar <br> <%=@categoria.nombre %></h1><br><br>
  <%= render "form" %>
</div>
<%= link_to "Atras", categoria_path , class:"btn btn-danger" %>
