<% breadcrumb :categoria_new %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <h1>Registar Categoria</h1>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  <%= render "form" %>
</div>
