<% breadcrumb :categoria_show, @categoria %>
<div class="container">
  <h1 class="text-center"><%= @categoria.nombre%></h1>
  <div class="row">
    <table class="table table-striped">
      <tr>
        <th class="active">Nombre</th>
        <th class="active">Editar</th>
      </tr>
      <tr>
        <td class=""><%= @categoria.nombre %></td>
        <td><%= link_to "Editar", edit_categoria_path(@categoria) , class:"btn btn-warning"%> </td>
      </tr>
    </table>
  </div>
</div>
