// Place all the styles related to the articulo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nom_gru{
  text-align: left;
  padding-left: 4px;
}
.down{
  margin-top: 22px;
}

.color_norm{
  color: #000;
}

#edit_grupo_1{
  margin-top: 25px;
}

#new_grupo{
  margin-top: 25px;
}
