<div class="container">
  <% breadcrumb :articulo_edit, @articulo %>
  <h1 class="text-center">Editar El Articulo <%=@articulo.nombre %></h1><br><br>
  <%= render "form" %>
</div>
<%= link_to "Atras", articulo_path(@articulo) , class:"btn btn-danger" %>
